<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <configSections>
  <section name="UserServices" type="BLL.Configuration.UserServiceConfigSection, BLL"/>
  </configSections>

  <UserServices>
    <Services>
      <Service name="1" isMaster="true" />
      <Service name="2" />
      <Service name="3" />
    </Services>
  </UserServices>

  <appSettings>
    <add key="FileName" value="Users.xml"/>
  </appSettings>
  
</configuration>