<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <configSections>
  <section name="UserService" type="BLL.Configuration.UserServiceConfigSection, ConfigSectionTester"/>
  </configSections>

  <UserServices>
    <Services>
      <Service name="1" isMaster="true" />
      <Service name="2" />
      <Service name="3" />
    </Services>
  </UserServices>

  <appSettings>
    <add key="ClientsFilePath" value="filepath"/>
  </appSettings>
  
</configuration>