<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="UserServices" type="BLL.Configurations.UserServiceConfigurations.UserServiceConfigSection, BLL"/>
    <section name="TransmitterServices" type="BLL.Configurations.TransmitterServiceConfigurations.TransmitterServiceConfigSection, BLL"/>
  </configSections>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  

  <UserServices>
    <Services>
      <Service
        name="1"
        isMaster="true"
        appDomainName ="masterDomain"
        transmitterName = "broadcastSender"
               />
      <Service
        name="2"
        appDomainName ="slaveDomain"
        transmitterName = "broadcastReceiver"
        />
      <Service
        name="3"
        appDomainName="slaveDomain"
        transmitterName = "broadcastReceiver"
        />

    </Services>
  </UserServices>

  <TransmitterServices>
    <Transmitters>
      <Transmitter
        name="broadcastSender"
        value ="BLL.Services.Network.BroadcastSender"
        />

      <Transmitter
        name="broadcastReceiver"
        value ="BLL.Services.Network.BroadcastReceiver"
        />
    </Transmitters>
  </TransmitterServices>

  <appSettings>
    <add key="FileName" value="Users.xml"/>
    <add key="TraceSourceName" value="CustomTraceSource"/>
    <add key ="Port" value="11000"/>
  </appSettings>

  <system.diagnostics>
    <trace autoflush="true" />
    <sources>
      <source name="CustomTraceSource"
          switchName="CustomSwitch"
          switchType="System.Diagnostics.SourceSwitch" >
        <listeners>
          <add name="textListener"
            type="System.Diagnostics.TextWriterTraceListener"
            initializeData ="D:\George_Moiseenko\logFile.txt"
            traceOutputOptions="DateTime"/>
          <remove name ="Default" />
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="CustomSwitch" value="Information" />
      <add name="Activate" value="1"/>
    </switches>
  </system.diagnostics>
</configuration>